APP_NAME=Hypha DAO

NETWORK_CHAIN_ID=1eaa0824707c8c16bd25145493bf062aecddfeb56c736f6ba6397f3195f33c9f

DAO_CONTRACT=lightfoodsc1

ACCOUNT_API_URL=https://dev.api.telosapi.com
ACCOUNT_API_KEY=

BLOCKCHAIN_EXPLORER=https://telos-test.bloks.io
BLOCKCHAIN_EXPLORER_BTC=https://www.blockchain.com/btc/tx/
BLOCKCHAIN_EXPLORER_ETH=https://etherscan.io/tx/
BLOCKCHAIN_EXPLORER_EOS=https://bloks.io/transaction/

PPP_ENV=test

SENTRY_DSN=

DOCUMENTATION=https://notepad.diglife.coop/6w_69K_8QLSbzNaYcDWtHw?view

DGRAPH_URL=https://dgraph.lightfood.earth

TELOS_ENDPOINTS=https://testnet.telos.caleos.io

TLOSTO_SEEDS=tlosto.seeds

DGRAPH_ROOT_HASH=52a7ff82bd6f53b31285e97d6806d886eefb650e79754784e9d923d3df347c91